@import "tailwindcss";

:root {
  --foreground: #171717;
  --background: #ededed;
  --theme-color-primary: #ff5255;
  --theme-color-secondary: #ffb291;
  --theme-color-tertiary: #ffc355;
  --theme-color-accent: #190556;
  --theme-color-black: #000000;
  --text-gradient: linear-gradient(
    90deg,
    var(--theme-color-primary) 0%,
    var(--theme-color-secondary) 33%,
    var(--theme-color-tertiary) 66%
  );
  --background-gradient-linear: linear-gradient(
    150deg,
    rgba(255, 231, 108, 1) 0%,
    rgba(255, 164, 108, 0.8) 10%,
    rgba(255, 118, 118, 0.6) 25%,
    rgba(255, 74, 119, 0.4) 60%,
    rgba(156, 27, 255, 0.2) 80%,
    rgba(0, 0, 0, 0.2) 100%
  );
  --background-gradient-tertiary: radial-gradient(
    circle farthest-corner at 25% 0%,
    var(--theme-color-tertiary) 0%,
    transparent 33%
  );
  --background-gradient-blue: radial-gradient(
    circle farthest-corner at 75% 100%,
    rgb(25, 5, 86) 0%,
    transparent 25%
  );
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #ededed;
    --background: #171717;
    --theme-color-accent: #ffc355;
  }
}

body {
  background:
    var(--background-gradient-blue), var(--background-gradient-linear),
    var(--background-gradient-tertiary);
  background-color: var(--theme-color-black);
  color: var(--foreground);
  font-family: var(--font-shippori);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-blinker), serif;
}
